-
  var catalogDatas = [
    {
      "name": "Серия мебели 45",
      "price": "540 000",
      "img": "45.jpg",
      "subtitle": "Современный стиль. Модель Alfred",
      "scheme": "alfred-scheme.svg",
      "size": "180 / 200 /  220 / 240",
      "materials": "натуральная кожа, стерилизованный гусиный пух, синтетический наполнитель, дерево, хромиорванная сталь"
    },
    {
      "name": "Серия мебели Hosoi",
      "price": "740 000",
      "img": "hosoi.jpg",
      "subtitle": "Современный стиль. Модель Boheme",
      "scheme": "boheme-scheme.svg",
      "size": "182 /  202 / 222 / 242 / 300",
      "materials": "натуральная кожа или ткань, стерилизованный гусиный пух, синтетический наполнитель, дерево, хромиорванная сталь"
    },
    {
      "name": "Серия мебели Lapis",
      "price": "940 000",
      "img": "lapis.jpg",
      "subtitle": "Современный стиль. Модель  Nabucco",
      "scheme": "nabucco-scheme.svg",
      "size": "180 /  220 / 240",
      "materials": "натуральная кожа или ткань, стерилизованный гусиный пух, синтетический наполнитель, дерево."
    },
    {
      "name": "Серия мебели Memento",
      "price": "750 000",
      "img": "memento.jpg",
      "subtitle": "Классический стиль. Модель Olympia",
      "scheme": "rigoletto-scheme.svg",
      "size": "220 /  240 / 257",
      "materials": "натуральная кожа или ткань, стерилизованный гусиный пух, синтетический наполнитель, дерево."
    },
    {
      "name": "Серия  мебели Sidero",
      "price": "850 000",
      "img": "sidero.jpg",
      "subtitle": "Современный стиль. Модель Otello",
      "scheme": "otello-scheme.svg",
      "size": "187 /  207 / 227 / 287",
      "materials": "натуральная кожа или ткань, терилизованный гусиный пух, синтетический наполнитель, дерево, хромированная сталь"
    },
    {
      "name": "Серия мебели Versa",
      "price": "450 000",
      "img": "versa.jpg",
      "subtitle": "Современный стиль. Модель Opera",
      "scheme": "opera-scheme.svg",
      "size": "187 / 207 / 227 / 287",
      "materials": "натуральная кожа или ткань, стерилизованный гусиный пух, синтетический наполнитель, дерево, хромированная сталь"
    }
  ]

section(id="catalog").catalog
  +title("Стоимость мебели для ванной")
  .container
    .catalog__container
      for item in catalogDatas
        +product(item)
